In [ ]:
import pandas as pd
import os

In [4]:
folder_path = r"C:\Users\Payal Odedara\Desktop\Payal_code\Vendor Performance Analysis\data"

for file in os.listdir(folder_path):
    print(file)

for file in os.listdir(folder_path):
    if '.csv' in file:
        df= pd.read_csv('data/'+file)
        print(df.shape)

begin_inventory.csv
end_inventory.csv
purchases.csv
purchase_prices.csv
sales.csv
vendor_invoice.csv
(206529, 9)
(224489, 9)
(2372474, 16)
(12261, 9)
(12825363, 14)
(5543, 10)

In [1]:
import os
from dotenv import load_dotenv
import mysql.connector

# Load .env file
load_dotenv()

def get_mysql_connection():
    """Create and return a secure MySQL connection using .env variables"""
    conn = mysql.connector.connect(
        host=os.getenv("DB_HOST"),
        user=os.getenv("DB_USER"),
        password=os.getenv("DB_PASSWORD"),
        database=os.getenv("DB_NAME")
    )
    return conn


# Test connection
if __name__ == "__main__":
    try:
        conn = get_mysql_connection()
        cursor = conn.cursor()
        print("Connected to MySQL successfully!")
        cursor.close()
        conn.close()
    except Exception as e:
        print("Connection failed:", e)

Connected to MySQL successfully!

In [2]:
import mysql.connector
import pandas as pd
from dotenv import load_dotenv
import os

# Load environment variables
load_dotenv()

# Read DB credentials from .env
DB_HOST = os.getenv("DB_HOST")
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_NAME = os.getenv("DB_NAME")

# Connect to MySQL
conn = mysql.connector.connect(
    host=DB_HOST,
    user=DB_USER,
    password=DB_PASSWORD,
    database=DB_NAME
)

cursor = conn.cursor()

# Check existing tables
cursor.execute("SHOW TABLES;")
tables = cursor.fetchall()
print("Tables in database:", tables)

# Query data into pandas
df_begin_inventory = pd.read_sql("SELECT * FROM check_table", conn)

# Display first 5 rows
print("Begin Inventory:")
print(df_begin_inventory.head())

# Close connection
cursor.close()
conn.close()

Tables in database: [('check_table',)]

C:\Users\Payal Odedara\AppData\Local\Temp\ipykernel_2592\1628240255.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_begin_inventory = pd.read_sql("SELECT * FROM check_table", conn)

Begin Inventory:
         InventoryId  Store          City  Brand                  Description  \
0  1_HARDERSFIELD_58      1  HARDERSFIELD     58  Gekkeikan Black & Gold Sake
1  1_HARDERSFIELD_60      1  HARDERSFIELD     60       Canadian Club 1858 VAP
2  1_HARDERSFIELD_62      1  HARDERSFIELD     62     Herradura Silver Tequila
3  1_HARDERSFIELD_63      1  HARDERSFIELD     63   Herradura Reposado Tequila
4  1_HARDERSFIELD_72      1  HARDERSFIELD     72         No. 3 London Dry Gin

    Size  onHand  Price   startDate
0  750mL       8  12.99  2024-01-01
1  750mL       7  10.99  2024-01-01
2  750mL       6  36.99  2024-01-01
3  750mL       3  38.99  2024-01-01
4  750mL       6  34.99  2024-01-01

In [1]:
# check data tables in database

import sys, os
sys.path.append(os.path.dirname(os.getcwd()))
from sqlalchemy import text
from utils.db_connection import get_engine

engine = get_engine()

# --- Fetch all tables ---
with engine.connect() as conn:
    result = conn.execute(text("SHOW TABLES"))
    tables = [row[0] for row in result]

print("\nðŸ“Œ Tables in your MySQL database:\n")
for table in tables:
    print(" -", table)


# --- Fetch row count for each table ---
print("\n Row count (size) of each table:\n")
with engine.connect() as conn:
    for table in tables:
        query = text(f"SELECT COUNT(*) FROM `{table}`")
        count = conn.execute(query).fetchone()[0]
        print(f" {table:<20} â†’ {count} rows")

connection build

ðŸ“Œ Tables in your MySQL database:

 - begin_inventory
 - check_table
 - end_inventory
 - purchase_prices
 - purchases
 - sales
 - vendor_invoice

 Row count (size) of each table:

 begin_inventory      â†’ 206529 rows
 check_table          â†’ 206529 rows
 end_inventory        â†’ 224489 rows
 purchase_prices      â†’ 12261 rows
 purchases            â†’ 2372474 rows
 sales                â†’ 12825363 rows
 vendor_invoice       â†’ 5543 rows